name: Generate Snake Animation

on:
  schedule: # runs automatically every 24 hours
    - cron: "0 0 * * *"
  workflow_dispatch: # allows manual trigger
  push:
    branches:
      - main

jobs:
  build:
    name: Generate Snake Animation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Generate snake game from GitHub contribution grid
        uses: Platane/snk@v3
        with:
          github_user_name: shreyaszanzad
          outputs: dist/snake.svg

      - name: Push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
